.userProfileContainer {
  width: 100%;
  height: 100%;
}

.userHeader {
  height: 66px;
  background-color: #7f8fa6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  color: #dcdde1;
}

.logout {
  width: 100px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 8px;
  background-color: #e84118;
  color: #dcdde1;
}

.logout:hover {
  background-color: #c23616;
}
.welcome {
  color: #c23616;
}

.userContent {
  display: flex;
  flex-wrap: wrap;
}
.postsContainer {
  width: calc(70% - 32px);
  height: auto;
  min-height: calc(100vh - 166px);
  padding: 0px 16px;
  overflow: hidden;
}
.albumsContainer {
  width: 30%;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 16px;
}
.otherUsersContainer {
  min-height: 100px;
  padding: 0px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  border-top: 5px solid #7f8fa6;
}
.otherUsersContainer .contentTitle {
  margin: 0px;
}
.otherUsers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .userContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .postsContainer {
    width: calc(100% - 16px);
    height: auto;
    padding: 0px 8px;
    overflow: hidden;
  }
  .albumsContainer {
    width: calc(100% - 16px);
    height: auto;
    padding: 0px 8px;
    overflow: hidden;
  }
}

/* Single post CSS */
.postContainer {
  height: 160px;
  margin-bottom: 16px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(180, 166, 166, 0.31);
  box-shadow: 5px 5px 15px 5px rgba(180, 166, 166, 0.31);
  padding: 8px;
  cursor: pointer;
}
.postContainer:hover {
  background-color: #718093;
  color: #f5f6fa;
}
.postBody {
  width: 100%;
  max-height: 70px;
}

/* Single album CSS */
.albumContainer {
  padding: 16px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(180, 166, 166, 0.31);
  box-shadow: 5px 5px 15px 5px rgba(180, 166, 166, 0.31);
  background-color: #7f8fa6;
  color: whitesmoke;
  border-radius: 5px;
  margin-bottom: 16px;
  cursor: pointer;
}
.albumContainer:hover {
  background-color: #40739e;
}
.albumTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contentTitle {
  margin: 16px;
}

/* Single User avatar CSS */
.userAvatarContainer {
  width: 60px;
  height: 60px;
  background-color: #40739e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.userAvatarContainer:hover {
  cursor: pointer;
  background-color: #7f8fa6;
}

.avatarName {
  font-size: 32px;
  color: white;
}
